html{
	background-image: url(TimesSquareBG.jpg);
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-color: #393939;
}
.midtext{

  position: absolute;
     height: 50px;
     width: 200;
     top:450px;
      left:580px;
}
.dropbtn {
    background-color: #333;
    color: white;
	padding: 23px;
    border: none;
    cursor: pointer;
	background-image: url("timsuxdix.png");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #111;
}
/*
.dropdown {
    position: relative;
    display: inline-block;
}
*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    overflow: auto;
 /*   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	right:0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	
}
.blackbox{
	 position: absolute;
	 top:0px;
	 left:0px;
}
.blackbox2{
	 position: absolute;
	 height: 47px;
	 width: 11px;
	 top:0px;
	  left:1909px;
}
.fancytext{
	FONT-SIZE: 16pt;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
}
li .dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/	
    background-color: #333;
	position: absolute;
    top: 0;
    width:99%;
}

li {
    float: left;
}

li a {
	font-family: 'Raleway', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	-webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

h1{
    color: white;
   
    font-family: 'Raleway', sans-serif;
    text-align: center;
    -webkit-transition: 0.8s all ease;
    -moz-transition: 0.8s all ease;
    -o-transition: 0.8s all ease;
    transition: 0.8s all ease;
    
}

#onlyImage{
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}

#buttonL{
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    text-align: center;
}
/* THIS USELESS SHIT WAS PASTED TWICE

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	 position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
	 border-right: 1px solid #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

 Change the link color to #111 (black) on hover 
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/

a.animated-button.victoria-three {
    border: 2px solid #FFF;
    font-family: 'Raleway', sans-serif;
    width: 200px;
}
a.animated-button.victoria-three:after {
    background: #FFF;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}
a.animated-button.victoria-four {
    border: 2px solid #FFF;
}
a.animated-button.victoria-four:after {
    background: #FFF;
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-three {
    border: 2px solid #FFF;
}
a.animated-button.victoria-three:after {
    background: #FFF;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited, button.animated-button:link, button.animated-button:visited {
    position: relative;
    display: block;
    margin: 5px auto 0;
    padding: 5px 5px;
    padding-bottom: 8px;
    color: #FFF;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after, button.animated-button:link:after, button.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover, button.animated-button:link:hover, button.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after, button.animated-button:link:hover:after, button.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
}